.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(31, 30, 33);
  height: 100vh;
}

.app-form{
  margin-bottom: 1rem;
}

.react-calendar {
  min-width: 25rem;
  padding: 1rem;
  background-color: beige !important;
  border-radius: 4px !important;
}

.highlight100 {
  color: forestgreen;
}

.highlight100 > img{
  width: 2rem;
}

/* .monthTile :nth-child(1) {
  color: blue;
} */

.monthTile > span {
  color: rgb(21, 3, 140);
}

.monthTile > img {
  width: 2rem;
}
