.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: beige !important;
  /* background-color: rgb(31, 30, 33); */
  /* background-color: rgb(31, 30, 33); */
  height: 100vh;
}

.app-form{
  margin-bottom: 1rem;
}

.react-calendar {
  min-width: 25rem;
  padding: 1rem;
  background-color: beige !important;
  border-radius: 4px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.highlight100 {
  color: forestgreen;
}

.highlight100 > img{
  width: 2rem;
  border-radius: 99px;
}

/* .monthTile :nth-child(1) {
  color: blue;
} */

.monthTile{
  border: 1px solid black !important;
}

.monthTile > span {
  color: rgb(21, 3, 140);
}

.monthTile > img {
  width: 2rem;
  border-radius: 99px;
}
